/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 112;

  --first-color: #38afff;
  --first-color-alt: hsl(204, 94%, 52%);
  --title-color: hsl(233, 32%, 15%);
  --text-color: hsl(233, 4%, 35%);
  --body-color: #daeef6;

  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Open Sans', sans-serif;
  --second-font: 'Lemon', cursive;
  --biggest-font-size: 2.25rem;
  --normal-font-size: .938rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/* Page Loader */
#pageloader {
	background: #ede3f6 url(../img/blobpageloader.gif) no-repeat center center;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 10000;
	background-size: 20%;
  overflow: hidden;
  }


  input,
  textarea,
  button,
  select,
  a,
  i,
  div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }  


img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none

}

html {
  scroll-behavior: smooth;
}

/* Responsive typography */
@media screen and (min-width: 1224px) {
  :root {
    --biggest-font-size: 3.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
  position: relative;
}

#page-background {
  background: url(../img/shape-bg.webp);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.main {
  overflow: hidden; /* For the animations */
}

.section__blog {
  padding: 4.5rem 0 2rem;
}

.container__blog {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid__blog {
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.pa-fixed-header {
	background-color: #daeef6 !important;
	-webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
   
}


.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-family: 'Lemon', cursive;
  color: #38afff;
  cursor: default;
}

.nav__logo span {
  color: hsl(233, 32%, 15%);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .section__blog {
    padding: 7rem 0 2rem;
  }
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    left: 0;
    top: -100%;
    box-shadow: 0 8px 24px hsla(2, 100%, 35%, .2);
    width: 100%;
    padding: 3.5rem 0 3rem;
    border-radius: 0 0 2rem 2rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link, 
.nav__close {
  color: var(--title-color);
}

.nav__link {
  font-weight: 600;
  transition: color .4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__img {
  width: 120px;
  position: absolute;
  top: -.75rem;
  left: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}



/*=============== HOME ===============*/
.home-stats {
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.home__container-main-stats {
  margin-top: -2.5rem;
  position: relative;
}

.section-main-stats {
  padding: 4.5rem 0 1rem;
}

.home__img-main-stats {
  width: 330px;
  justify-self: center;
}
.home__img-main-machine {
  width: 320px;
  justify-self: center;
}
.free__img-main-stats {
  width: 370px;
  justify-self: center;
}

.home__data-main-stats {
  text-align: center;
}

.home__title-main-stats {
  font-size: 1.5rem;
  line-height: 140%;
  margin-bottom: 0.5rem;
  cursor: default;

}

.home__description-main-stats {
  font-size: .813rem;
  padding: 0 2rem;
  margin-bottom: 2.5rem;
  cursor: default;
}

.container-main-stats {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid-main-stats {
  display: grid;
}

.button-main-stats {
  display: inline-block;
  background-color: #38afff;
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: 500;
  border-radius: 3rem;
  transition: .3s;
  text-decoration: none;
  margin-right: 10px;

}

.button-main-stats:hover {
  background-color: #3197db;
}

.button-main-stats-right {
  display: inline-block;
  background-color: #38afff;
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: 500;
  border-radius: 3rem;
  transition: .3s;
  text-decoration: none;
  margin-left: 10px;
}

.button-main-stats-right:hover {
  background-color: #3197db;
}

.home-title-span-stats {
  color: #3197db;
   font-size: 2rem;
}

/* For small devices */
@media screen and (max-width: 320px) {
  .container-main-stats {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .container-celebrate {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .q-container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .request-container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .reachout__img {
    width: 220px;
    height: 260px;
  }
  
  .reachout__orbe {
    width: 236px;
    height: 280px;
  }



}

@media screen and (max-width: 450px) {
  .home__img-main-stats {
    width: 250px;
    justify-self: center;
    margin-top: 70px;
  }
  .home__img-main-machine {
    width: 250px;
    justify-self: center;
    margin-top: 60px;
  }
  .free__img-main-stats {
    width: 350px;
    justify-self: center;
    margin-top: -40px;
  }
  .home-stats {
    margin-top: 4rem;
  }
  .reachout__card {
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }

  .section__reachout {
    padding: 3.5rem 0 1rem;
  }

  .container__reachout {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section__reachout {
    margin-bottom: 150px;
  }




}

@media screen and (min-width: 767px) {
  .home__container-main-stats{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__container-main-stats {
    padding-top: 6rem;
  }
  .home__data-main-stats {
    text-align: initial;
  }
  .home-title-span-stats {
    color: #3197db;
     font-size: 2.5rem;
  }
  .home__description-main-stats {
    padding: 0;
  }
  .questions__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .questions__container{
    align-items: flex-start;
  }

}



/* For large devices */
@media screen and (min-width: 992px) {
  .container-main-stats {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img-main-stats {
    width: 450px;
    height: auto;
    margin-left: -1rem;
  }

  .home__img-main-machine {
    width: 450px;
    height: auto;
    margin-left: -1rem;
  }

  .free__img-main-stats {
    width:  450px;
    margin-left: 5rem;
  }


  .home__container-main-stats {
    padding-top: 5rem;
    column-gap: 1rem;
  }
  .home__data-main-stats {
    text-align: initial;
    margin-left: 100px;
  }
  .home__description-main-stats {
    padding: 0;
    font-size: .9rem;
    margin-bottom: 2.3rem;
  }
  .home__title-main-stats {
    font-size: 2.5rem;
    line-height: 140%;
    margin-bottom: 0.5rem;
  }
  .home-title-span-stats {
    color: #3197db;
     font-size: 4rem;
  }

}

@media screen and (min-width: 767px) {
 .section-main-stats {
    padding: 6.5rem 0 2rem;
  }
}

/*=============== HOME ===============*/
.home,
.home__container{
  position: relative;
}

.home__container {
  padding-top: 8rem;
  height: 100vh;
  display: grid;
  row-gap: 1rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  color: var(--title-color);
  margin-bottom: .75rem;
  cursor: default;

}

.home__title span {
  display: block;
  color: var(--first-color);
}

.home__description, 
.home__button {
  font-weight: 600;
}

.home__description {
  color: var(--title-color);
  margin-bottom: 1.5rem; 
   cursor: default;

}

.home__button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1.5rem .25rem;
  box-shadow: 0 5px 20px rgba(31, 5, 5, 0.28);
  transition: background .4s;
  position: relative;
}

.home__button:hover {
  background-color: var(--first-color-alt);
}

.home__images {
  position: relative;
  width: 325px;
  height: 378px;
  justify-self: center;
}

.home__images img {
  position: absolute;
}

.home__liquid {
  max-width: initial;
  width: 370px;
  left: -1.5rem;
  bottom: 4rem;
}

.home__juice {
  width: 150px;
  box-shadow: 0 8px 24px rgba(9, 9, 9, 0.596);
  transform: rotate(15deg);
  left: -0.5rem;
  right: 0;
  top: 1.2rem;
  margin: 0 auto;
  animation: float-juice 4s ease-in-out infinite;
}

.home__apple2 {
  width: 80px;
  right: 2rem;
  bottom: 4.5rem;
}

.home__apple1 {
  width: 90px;
  transform: rotate(-25deg);
  top: 7rem;
  left: -3rem;
}

.home__leaf:nth-child(1), 
.home__leaf:nth-child(6) {
  width: 80px;
  transform: rotate(30deg);
}

.home__leaf:nth-child(2), 
.home__leaf:nth-child(4), 
.home__leaf:nth-child(5) {
  width: 55px;
}

/* Move sheets into position */
.home__leaf:nth-child(1) {
  top: -5rem;
  right: 3rem;
}

.home__leaf:nth-child(2) {
  transform: rotate(-60deg);
  top: -1rem;
  left: .25rem;
}

.home__leaf:nth-child(3) {
  width: 60px;
  transform: rotate(-15deg);
  top: 8rem;
  right: .8em;
}

.home__leaf:nth-child(4) {
  bottom: 4.5rem;
  left: 3.5rem;
}

.home__leaf:nth-child(5) {
  transform: rotate(-30deg);
  bottom: 0;
  right: 5rem;
}

.home__leaf:nth-child(6) {
  bottom: -1rem;
  left: -3rem;
}

.home__shape-small, 
.home__shape-big {
  background-color: hsl(283, 62%, 91%);
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
}

.home__shape-small {
  width: 200px;
  height: 200px;
  top: -5rem;
  left: -5rem;
}

.home__shape-big {
  width: 250px;
  height: 250px;
  top: 35rem;
  right: 0;
}






/*=============== ABOUT ===============*/

.section__about{
  padding: 5.5rem 0 1rem;
}

.container__about{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid__about{
  display: grid;
}

.about__container{
  row-gap: 2rem;
  
}

.about__img{
  width: 280px;
  justify-self: center;
  
  
}

.about__title{
  margin-bottom: 1rem;
}

.about__data {
  z-index: 2;
}

.about__description{
  margin-bottom: 2rem;
}

.about__details{
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2.5rem;
}

.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: .813rem;
}

.about__details-icon{
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link{
  color: var(--first-color-alt);
  font-weight: var(--font-medium);
  
}

.button--link:hover .button__icon{
  transform: translateX(.25rem);
  transition: .3s;
}






/*=============== Why We Do It  ===============*/
.specialty {
  margin-top: 100px;
}




.specialty__button {
  position: relative;
  font-weight: 600;
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 5 25px hsla(2, 100%, 45%, .28);
  transition: background .4s;
  margin-top: 25px;
}
.specialty__button:hover {
  background-color: var(--first-color-alt);
}

.specialty__category {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  row-gap: 2.5rem;
}

.specialty__img {
  width: 60px;
  margin-bottom: 1rem;
  transition: .4s;
}

.specialty__group {
  text-align: center;
  position: relative; 
}

.specialty__title {
  font-size: 18px;
  margin-bottom: .25rem;
  font-weight: 900;
  margin-bottom: 15px;
  cursor: default;
}

.specialty__description {
  cursor: default;
}

.specialty__group:hover .specialty__img {
  transform: translateY(-.55rem);
}


/*=============== Why We Do It End  ===============*/



/*=============== Download PDF  ===============*/


/*=============== CELEBRATE ===============*/
.section-celebrate {
  padding: 4.5rem 0 1rem;
}

.container-celebrate {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid-celebrate {
  display: grid;
}

.celebrate__container {
  row-gap: 1rem;
}

.celebrate__data {
  text-align: center;
}

.celebrate__title {
  margin-bottom: 1.5rem;
}

.celebrate__description {
  margin-bottom: 2.5rem;
}

.celebrate__img {
  width: 400px;
  justify-self: center;
  position: relative;
}


.generate-pdf {
  margin-left: 10px;
  font-size: 1.2rem;
  transition: .3s;
}

.button-celebrate {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: 600;
  border-radius: 3rem;
  transition: .3s;
  position: relative;
  
}

.button-celebrate:hover {
  background-color: var(--first-color-alt);
}
.button-celebrate:hover .generate-pdf{
  transform: translateX(.30rem);
}



/*=============== Download PDF End  ===============*/






/*=============== Partners ===============*/

.container__partners{
  padding-top: 0px;
  margin-bottom: 200px;
}



.slide {
  border: 1px solid #fcf8fc;
  background-color: rgb(252, 248, 252);
  border-radius: 15%;

}

.imgsize {
width: 100px;
}

.slick-slide{
    margin: 0 20px;
    
}
.slick-slide img{
    width: 100%;
    
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;

}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}


/*=============== Filter ===============*/

.filter-buttons{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: -90px;
  position: relative;
}

.filter-buttons ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

.filter-buttons ul li{
  color:black;
  font-weight: 500;
  display: inline-block;
  margin: 0px 8px;
  cursor: pointer;
  padding-bottom: 0px;
}

.filter-buttons ul li.active2{
  color: rgb(38, 38, 59);
  border: 2px solid var(--first-color);
  border-radius: 25px;
  padding: 2px 15px 2px 15px;

}


/*=============== Filter End ===============*/


.no-scroll {
  height: 100%;
  overflow: hidden;
}


/*=============== BLOG ===============*/
.blog__container {
  padding-bottom: 2rem;
}

.blog__content {
  row-gap: 3rem;
}

.aboutus-button{
  font-size: .905rem;
  padding: 15px 25px;
  width: 100%;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
  color: rgb(96, 94, 94);
  font-weight: 500;
  box-shadow: none;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  border: .5px solid rgb(96, 94, 94);
  box-shadow: 2px 2px 6px rgba(4, 4, 4, 0.148);
  cursor: pointer;
}

.aboutus-button:hover {
  background-color: hsl(210, 79%, 68%);
  color: #fff;
  transition: .3s;
}





.blog__card{
  border: .11px solid whitesmoke ;
  background-color: whitesmoke;
  border-radius: .5rem;
  padding: 20px;
  position: relative;
  box-shadow: 0px 4px 16px rgba(43, 31, 31, 0.228);

}

.blog__image {
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.5s all ease-in-out;
}

.blog__img {
  border-radius: .5rem;
  box-shadow: 0 4px 16px hsl(355deg 25% 15% / 10%);
  display: block;
  border: .1px solid white;
}
.blog__image:hover{
  transform: scale(1.05);
}
.blog__image {
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.5s all ease-in-out;
}

.blog__img {
  border-radius: .5rem;
  box-shadow: 0 4px 16px hsl(355deg 25% 15% / 10%);
  display: block;
  border: .1px solid white;
}
.blog__image:hover{
  transform: scale(1.05);
}


.blog__button {
  display: inline-flex;
  background-color: white;
  padding: 1.15rem;
  border-radius: .5rem 0 .5rem 0;
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  right: 0;
  bottom: 0;
  
}

.blog__button i {
  transform: rotate(-30deg);
  transition: .4s;
}

.blog__button:hover i {
  transform: rotate(-30deg) translateX(.25rem);
}

.blog__title {
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: .75rem;
  cursor: default;
}

.blog__description {
  margin-bottom: 1.5rem;
  cursor: default;
}

.blog__footer, 
.blog__reaction,
.blog__reaction-share {
  display: flex;
  align-items: center;
}

.blog__footer {
  column-gap: 1.5rem;
}

.blog__reaction-share {
  column-gap: 7rem;
}

.blog__reaction {
  column-gap: .35rem;
}

.blog__reaction i {
  font-size: 1.25rem;
}

.blog__reaction span {
  font-size: var(--small-font-size);
  cursor: pointer;
}
.blog__reaction-share i {
  font-size: 1.25rem;
}

.blog__reaction-share span {
  font-size: var(--small-font-size);
  cursor: pointer;
}

.bx {
  cursor: pointer;
}



/*=============== Our Locations ===============*/
#map {
  width: 85%;
  height: 400px; /* Set a fixed height for the map */
  margin: auto; /* Center the map */
  display: block; /* Make the map a block-level element */
  position: relative;
  border: 5px solid white;
  border-radius: 15px;
}

#zip-code-form {
  position: relative;
}

#map:hover {
  box-shadow: 0 10px 26px rgba(38, 38, 39, 0.392);
  transition: .3s;
}

.location__description {
    font-size: .9rem;
    margin-bottom: 2.5rem;
    width: 550px;
    margin: auto;
    text-align: center;

}

.location__quicklink {
  position: relative;
  font-weight: 900;
  color: #3ea8ee;
  cursor: default;
}

.home__img-main-locations {
  width: 320px;
  justify-self: center;
}


@media (max-width: 445px) {
  #map {
    width: 92%;
    height: 70vh;
  }
  .location__description {
    font-size: .8.5rem;
    margin-bottom: 2.5rem;
    width: 320px;
    margin: auto;
}

.home__img-main-locations {
  width: 280px;
  justify-self: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

}

@media (min-width: 768px) {
  #map {
    width: 75%;
    height: 60vh;
  }
}

@media (min-width: 992px) {
  #map {
    width: 60%;
    height: 70vh;
  }
  .home__img-main-locations {
    width: 420px;
    height: auto;
    margin-left: -2rem;
  }
}




/*=============== Our Locations End ===============*/


/*=============== Our Machines ===============*/

#more, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12, #more13, #more14, #more15, #more16, #more17, #more18  {display: none;}

#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6, #myBtn7, #myBtn8, #myBtn9, #myBtn10, #myBtn11, #myBtn12, #myBtn13, #myBtn14, #myBtn15, #myBtn16, #myBtn17, #myBtn18 {
  border: none;
  background-color: transparent;
}

.machine__container {
  margin-top: 0px;
  border: .11px solid rgb(195, 239, 233) ;
  background-color: rgba(244, 247, 247, 0.891);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 4px 16px rgba(43, 31, 31, 0.228);
 
}



.machine__content {
  row-gap: 3rem;
}

.machine__card{
  border: .11px solid whitesmoke ;
  background-color: whitesmoke;
  border-radius: .5rem;
  padding: 20px;
  position: relative;
  box-shadow: 0px 4px 16px rgba(43, 31, 31, 0.228);

}

.machine__image {
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.5s all ease-in-out;
}

.machine__img {
  border-radius: .5rem;
  display: block;
}
.machine__image:hover{
  transform: scale(1.05);
}


.machine__button {
  display: inline-block;
  background-color: #38afff;
  color: whitesmoke;
  padding: 1rem 1rem;
  font-weight: 500;
  border-radius: 10px;
  transition: .3s;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  margin-left: -10px;
}

.machine__button:hover {
  background-color: #3197db;
}

.machine__button i {
  transition: .4s;
}

.machine__button:hover i {
  transform: translateY(-.15rem) translateX(.15rem);

}

.machine__title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: .75rem;
  cursor: default;
}

.machine__title_span {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: .75rem;
  cursor: default;
}

.machine__data {
  text-align: center;
  margin-top: 20px;
}

.machine__description {
  margin-bottom: 1.5rem;
  cursor: default;
}

.machine__footer, 
.machine__reaction {
  display: flex;
  align-items: center;
}

.machine__footer {
  column-gap: 1.5rem;
  justify-content: center;
}

.machine__reaction {
  column-gap: .25rem;
}

.machine__reaction i {
  font-size: 1.25rem;
}

.machine__reaction span {
  font-size: var(--small-font-size);
  cursor: pointer;
}

.bx {
  cursor: pointer;
  
}

.boldaf {
  font-weight: 900;
  color: rgb(86, 86, 86);
}

.boldaf-dropdown {
  font-weight: 900;
  color: rgb(86, 86, 86);
  cursor: pointer;
}


.boldish {
  color: var(--first-color);
  font-weight: 700;
}




/*=============== SERVICES ===============*/
.section__services {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: 1.55rem;
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: .813rem;
  color: black;
}

.container__services {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid__services {
  display: grid;
  gap: 1.25rem;
}


.services__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.services__card {
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #bdbcbfba, #4769b878), url(../img/blueflower-removebg-preview.webp) no-repeat top center;
}
.services__card2 {
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #bdbcbfba, #c4bc4893), url(../img/yellowflower-removebg-preview.webp) no-repeat top center;
}
.services__card3 {
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #bdbcbfba, #b38dd194), url(../img/pinkflower-removebg-preview.webp) no-repeat top center;
}
.services__card4 {
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #bdbcbfba, #de6d3498), url(../img/salmonflower-removebg-preview.webp) no-repeat top center;
}

.section__services .services__container .services__card,
.section__services .services__container .services__card2,
.section__services .services__container .services__card3,
.section__services .services__container .services__card4{
z-index: 1;  
box-shadow: 0px 4px 16px rgba(43, 31, 31, 0.228);
border: .5px solid #9cd1f5;

}


.services__title {
  font-size: 1.35rem;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  text-align: center;
}

.services__button {
  color: var(--text-color);
  font-size: .9rem;
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
  margin-left: 55%;
}

.services__button:hover .services__icon {
  transform: translateX(.25rem);
}

.services__icon {
  font-size: 1rem;
  transition: .4s;
}

.services__modal {
  position: fixed;
  inset: 0;
  background-color: hsla(var(--second-hue), 28%, 16%, 0.7);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  z-index: 15;
}

.services__modal-content {
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
  z-index: 15;
}

.services__modal-title, 
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: 1rem;
  color: var(--first-color);
  margin-bottom: 1rem;
  cursor: default;
}

.services__modal-description {
  font-size: .813rem;
  margin-bottom: 2rem;
  cursor: default;
}

.services__modal-list {
  display: grid;
  row-gap: .75rem;
}

.services__modal-item {
  display: flex;
  align-items: flex-start;
  column-gap: .5rem;
}


.services__modal-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: default;
}

.services__modal-icon-dropdown {
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services__modal-icon-x {
  font-size: 1.5rem;
  color: red;
  cursor: default;
}

.services__modal-info {
  font-size:  .913rem;
  cursor: default;
}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.modal__Z-index{
  z-index:1000 !important;
}

/*Active modal*/
.active-modal {
  opacity: 1;
  visibility: visible;
  
  
}




/*=============== Reach Out  ===============*/

.button-reachout {
  display: inline-block;
  background: linear-gradient(101deg,
                hsl(228, 66%, 53%),
                hsl(228, 66%, 47%));
  color: #fff;
  padding: 14px 28px;
  border-radius: .5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, .25);
  transition: .3s;
  cursor: pointer;
}

.button-reachout:hover {
  box-shadow: 0 4px 12px hsla(228, 66%, 45%, .25);
}



.section__reachout {
  padding: 4.5rem 0 2rem;
  margin-bottom: 200px;
}

.container__reachout {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid__reachout {
  display: grid;
}


.reachout__container {
  row-gap: 2rem;
}

.reachout__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.reachout__orbe {
  width: 266px;
  height: 316px;
  background-color: hsl(228, 24%, 97%);
  border-radius: 135px 135px 16px 16px;
}

.reachout__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}

.reachout__description {
  font-size: .813rem;
  margin-bottom: 2.5rem;
}

.reachout__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem .75rem;
}

.reachout__card-box {
  background-color: #fff;
  border: 2px solid hsl(228, 99%, 98%);
  padding: 1.25rem .75rem;
  border-radius: .5rem;
  transition: .3s;
  position: relative;
}

.reachout__card-info {
  display: flex;
  align-items: flex-start;
  column-gap: .75rem;
  margin-bottom: 1.25rem;
}

.reachout__card i {
  padding: 6px;
  background-color: hsl(228, 100%, 97%);
  border-radius: 6px;
  font-size: 1.25rem;
  color: hsl(210, 79%, 68%);
  cursor: default;
}

.reachout__card-title {
  font-size: 1rem;
  cursor: default;
}

.reachout__card-description {
  font-size: .813rem;
  color: var(--text-color);
}

.reachout__card-button {
  font-size: .875rem;
  padding: 14px 0;
  width: 100%;
  border-radius: .25rem;
  background: hsl(228, 100%, 97%);
  color: hsl(210, 79%, 68%);
  font-weight: 600;
  box-shadow: none;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.reachout__card-button:hover {
  background-color: hsl(210, 79%, 68%);
  color: #fff;
}

.reachout__card-box:hover {
  box-shadow: 0 8px 24px rgba(38, 38, 39, 0.392);
}


.reachout__quicklink {
  position: relative;
  font-weight: bolder;
  color: #3ea8ee;
}









/* ===== Contact  HTML =====*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.contact section {
  margin-top: -400px;
}

.section-contact{
  padding: 3rem 0;
}

.bd-grid-contact{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  }

.contact__container{
  row-gap: 2rem;
  position: relative;
}

.contact__subtitle{
  font-size: 1rem;
  color: hsl(0, 3%, 38%);
  margin-bottom: 10px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;;
  cursor: default;
}
 

.contact__text{
  display: inline-block;
  margin-bottom: 2.5rem;
  color: #697477;
  font-family: 'Montserrat', sans-serif;;
}
.contact__inputs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.contact__input{
  width: 100%;
  padding: .8rem;
  outline: none;
  border: 1px solid #697477;
  background-color: #f1f3f4;
  font-size: .938rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
}

.contact__input:hover {
  border: 1px solid #f1f3f4;
  background-color: #f1f3f4;
  transition: .3s;
}


.contact__button{
  display: block;
  background-color: hsl(0, 2%, 53%);
  color: #FAFAFF;
  padding: .75rem 2.5rem;
  margin-left: auto;
  border-radius: .5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
}

.contact__button:hover{
  background-color: hsl(0, 1%, 45%);

}

/* ===== Contact End =====*/

/* ===== Questions =====*/
/*=============== QUESTIONS ===============*/
.questions{
  background-color: transparent;
  position: relative;
}

.section__title-center{
  font-size: 1.4rem;
  margin-bottom: 2rem;
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.q-grid{
  display: grid;
}
.q-container{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}



.q-section{
  padding: 5.5rem 0 1rem;
}

.questions__container{
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group{
  display: grid;
  row-gap: 1.5rem;
}

.questions__item{
  background-color: white;
  border-radius: .25rem;
}
 
.questions__item-title{
  font-size:  .89rem;
  font-weight: 500;
}

.questions__icon{
  font-size: 1.25rem;
  color: black;
}

.questions__description{
  font-size: .75rem;
  padding: 0 1.25rem 1.25rem 2.5rem;
  cursor: default;
}

.questions__header{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

.questions__content{
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  transition: .3s;
}

.questions__item:hover{
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: hsl(0, 2%, 53%);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: #FFF;
}

.accordion-open .questions__icon{
  transform: rotate(45deg);
}
/* ===== Questions End =====*/


/*=============== request ===============*/
.request__container{
  row-gap: 3.5rem;
  position: relative;
}

.request{
  font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;

}

.request__title{
  font-size: 1.25rem;
  margin-bottom: 2rem;
  line-height: 140%;
   cursor: default;
}

.request-container{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.request-grid{
  display: grid;
}

.request__section{
  padding: 5.5rem 0 1rem;
}

.request__data{
  display: grid;
}

.request__subtitle{
  font-size: .938rem;
  font-weight: 500;
  color: rgb(147, 152, 148);
  margin-bottom: .5rem;
}

.request__description{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: hsl(112, 4%, 15%);
  font-weight: 500;
}

.request-button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.request-button{
  display: inline-block;
  background-color: hsl(150, 1%, 27%);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: 500;
  transition: .3s;
  border: none;
  cursor: pointer;
}

.request-button:hover{
  background-color: hsl(0, 0%, 11%);
}

.request-button__icon{
  transition: .3s;
}

.request-button:hover .request-button__icon{
  transform: translateX(.25rem);
}

.request__icon{
  font-size: 1.25rem;
}

.request__inputs{
  display: grid;
  row-gap: 2rem;
  margin-bottom: 2.5rem;
}

.request__content{
  position: relative;
  height: 3rem;
  border-bottom: 1px solid hsl(112, 4%, 55%);
}

.request__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  color: rgb(24, 23, 23);
  border: none;
  outline: none;
  z-index: 1;
  font-family: 'Poppins', sans-serif;

}

.request__input::placeholder {
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: .85rem;
  color: hsl(112, 4%, 55%);
  font-family: 'Poppins', sans-serif;

}

.request__label{
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: .85rem;
  color: hsl(112, 4%, 55%);
  transition: .3s;
}

.request__area{
  height: 7rem;
}

.request__area textarea{
  resize: none;
}

/*Input focus move up label*/
.request__input:focus + .request__label{
  top: -.75rem;
  left: 0;
  font-size: .75rem;
  z-index: 10;
}

/*Input focus sticky top label*/
.request__input:not(:placeholder-shown).request__input:not(:focus) + .request__label{
  top: -.75rem;
  font-size: .75rem;
  z-index: 10;
}

/*=============== Request End ===============*/




/* ===== Newsletter / Message  =====*/

.container-news {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
}

.grid-news {
  display: grid;
}


.button-newsletter {
  display: inline-block;
  color: #fff;
  padding: 1rem 2.15rem;
  font-weight: 500;
  border-radius: 3rem;
  transition: .3s;
  border: none;
}

@media screen and (max-width: 320px) {
  .container-news {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .container-news {
    margin-left: auto;
    margin-right: auto;
  }
}

.section-news {
  padding: 4.5rem 0 1rem;
}

@media screen and (min-width: 767px) {
  .section-news {
    padding: 6.5rem 0 2rem;
  }
}

.message__container {
  row-gap: 3rem;
  background-color: hsl(0, 2%, 53%);
  padding: 2.5rem 1.5rem 2.5rem;
  border-radius: 1.25rem;
}

.message__form {
  text-align: center;
}

.message__title {
  color: #fff;
  margin-bottom: 1.5rem;
  cursor: default;
}

.message__input {
  width: 100%;
  background: #fff;
  color: hsl(355, 4%, 35%);
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

.message__button {
  background-color: #1b1d1d;
  width: 100%;
  font-size: 16px;
  transition: .7s;

}

.message__button:hover {
  background-color: #000000;
  cursor: pointer;
}

.message__img {
  width: 200px;
  justify-self: center;
}
.message__img:hover {
  transform: scale(1.30);
  transition: .8s;
}


@media screen and (min-width: 576px) {
  .message__input,
  .message__button {
    width: 60%;
  }
  .reachout__card {
    grid-template-columns: repeat(2, 192px);
    justify-content: center;
  }
  .celebrate__description {
    padding: 0 4rem;
  }
  .section__title-center {
    text-align: initial;
  }
  
}

@media screen and (min-width: 767px) {
 
  .message__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}



/* For large devices */
@media screen and (min-width: 992px) {
  .message__container {
    padding: 3.5rem 0;
    grid-template-columns: repeat(2, max-content);
    column-gap: 4rem;
    justify-content: center;
  }

  .message__form {
    text-align: initial;
  }
  .message__title {
    font-size: 2.5rem;
  }
  .message__input {
    display: block;
    width: 280px;
  }
  .message__button {
    width: initial;
  }
  .message__img {
    width: 320px;
    margin-right: -100px;
  }

}


/* ===== Newsletter End =====*/






/*=============== FOOTER ===============*/
.footer {
	overflow: hidden;
  }
  
  .footer__container {
	position: relative;
	row-gap: 2rem;
  }

  .nav__logo {
    font-family: var(--second-font);
    color: var(--first-color);
  }
  
  .footer__logo span {
    color: var(--title-color);
  }
  
  .footer__logo {
	display: flex;
	align-items: center;
	column-gap: .25rem;
  font-family: var(--second-font);
  color: var(--first-color);
  font-weight: 500;
  cursor: default;
  }
  
  .footer__logo-img {
	width: 3rem;
  }
  
  .footer__description {
	font-size: .75rem;
  }
  
 
  .footer__title {
	margin-bottom: 1rem;
  font-weight: 900;
  }

  .footer__title:hover {
    cursor: default;
  }

  .footer__logo {
	margin-left: -25px;
  }
  
  .footer__title {
	font-size: 1.25rem;
  }
  
  .footer__links, 
  .footer__aviables {
	display: flex;
	flex-direction: column;
	row-gap: .75rem;
  }
  
  .footer__link {
	color: hsl(355, 4%, 35%);
	transition: .3s;
  }
  
  .footer__link:hover {
	color: hsl(355, 4%, 15%);
  }
  
  .footer__aviable-img {
	width: 100px;
	cursor: pointer;
  }
  
  .footer__copy {
	display: block;
	margin: 3.5rem 0 1rem 0;
	text-align: center;
	font-size: .75rem;
	color: hsl(355, 4%, 55%);
  }
  
 
  
  .footer__img1 {
	top: 35%;
	right: -.1rem;
	position: absolute;
	width: 150px;
  transform: scaleX(-1);
  }
  
  .footer__img2 {
	top: 60%;
	right: .5rem;
	position: absolute;
	width: 220px;
  }



  /* For medium devices */
@media screen and (min-width: 576px) {
	.footer__container {
	  grid-template-columns: repeat(2, 1fr);
	}
  }


  @media screen and (min-width: 767px) {
	.footer__container {
	  grid-template-columns: repeat(3, 1fr);
	}
  }



/* For large devices */
@media screen and (min-width: 992px) {

	.footer__container {
	  grid-template-columns: repeat(4, max-content);
	  justify-content: space-between;
	}
	.footer__copy {
	  margin-top: 7rem;
	}
	
	.footer__img1 {
	  top: 50%;
	  left: -20px;
	  width: 140px;
    transform: scaleX(-1);
    

	}
	.footer__img2 {
	  top: 70%;
	  right: -1rem;
	  width: 200px;

	}
	
  }

  @media screen and (max-width: 400px) {
	.footer__img1 {
		top: 30%;
		right: -.8rem;
		position: absolute;
		width: 170px;
	  }
	  
	  .footer__img2 {
		top: 50%;
		right: -1.3rem;
		position: absolute;
		width: 200px;
	  }
  }
  
  .section-main {
    padding: 4.5rem 0 1rem;
  }

  .container-main {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .grid-main {
    display: grid;
  }

  
  footer a {
	text-decoration: none;
  }
  footer ul {
	list-style: none;
  }

  @media screen and (min-width: 767px) {
	.section-main {
	   padding: 6.5rem 0 2rem;
	 }
   }
   @media screen and (max-width: 320px) {
    .container-main {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
  }

   /* For large devices */
@media screen and (min-width: 992px) {
    .container-main {
      margin-left: auto;
      margin-right: auto;
    }
}

.social-icons {
	display: flex;
	margin-top: 0.5rem;
  }
  
  .social-icons a {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background: linear-gradient(45deg, #38486d, #38486d);
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin-right: 0.5rem;
	transition: 0.3s;
  }
  
  .social-icons a:hover {
	transform: scale(1.15);
  }



  @media (max-width: 480px) {
	.social-icons a {
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	}
  
  }
  /*== Footer End ==*/





/* Animation juice */
@keyframes float-juice {
  0% {
    transform: translateY(0) rotate(15deg);
  }
  50% {
    transform: translateY(-2rem) rotate(15deg);
  }
  100% {
    transform: translateY(0) rotate(15deg);
  }
}


/*=============== BREAKPOINTS ===============*/




@media screen and (max-width: 991px) {
  .services__button {
    color: var(--text-color);
    font-size: .9rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
    margin-left: 35%;
  }
}


/* For small devices */
@media screen and (max-width: 375px) {
  .container__about{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .container__blog {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home__container {
    padding-top: 5rem;
    height: 100vh;
    display: grid;
    row-gap: 1rem;
  }

  .home__images {
    width: 245px;
    height: 320px;
  }
  .home__liquid {
    width: 250px;
    left: 0rem;
    bottom: 5rem;
  }
  .home__juice {
    width: 90px;
    top: 2.5rem;
    left: 1rem;
  }
  .home__apple1 {
    width: 85px;
    right: -2rem;
    top: 5rem;
  }
   
  .home__apple2 {
    width: 80px;
    right: -1.5rem;
    bottom: 4rem;
  }
  .home__leaf:nth-child(1), 
  .home__leaf:nth-child(6) {
    width: 70px;
  }
  .home__leaf:nth-child(2), 
  .home__leaf:nth-child(4), 
  .home__leaf:nth-child(5) {
    width: 60px;
  }

  .home__leaf:nth-child(1) {
    top: -2rem;
    right: 1rem;
  }
  .home__leaf:nth-child(2) {
    top: .5rem;
    left: -.70rem;
  }
  .home__leaf:nth-child(3) {
    width: 60px;
    top: 4rem;
    right: -2rem;
  }
  .home__leaf:nth-child(4) {
    bottom: 5rem;
    left: 3.5rem;
  }
  .home__leaf:nth-child(5) {
    right: 10rem;
  }
  .home__leaf:nth-child(6) {
    right: 10rem;

  }
  .section__title {
    font-size: 1.35rem;
  }
  .services__container {
    grid-template-columns: repeat(1, 250px);
    justify-content: center;
    text-align: center;
  }

 
}



@media screen and (max-width: 445px) {
  #pageloader {
    background: #ede3f6 url(../img/blobpageloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000;
    background-size: 50%;
    overflow: hidden;
    }
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .machine__container {
    margin-top: 50px;
  }

  .blog__card {
    margin-top: 10px;
  }

  .specialty {
    margin-top: 40px;
  }

  

  .section__title {
    font-size: 1.35rem;
  }

  .services__modal-info {
    font-size: .7rem;
  }

  .home__container {
    padding-top: 4rem;
    height: 100vh;
    display: grid;
    row-gap: 1rem;
  }

  .home__images {
    width: 265px;
    height: 320px;
  }
  .home__liquid {
    width: 330px;
    left: -2.3rem;
    bottom: 3rem;
  }
  .home__juice {
    width: 140px;
    top: 1rem;
    left: .5rem;
  }
  .home__apple1 {
    width: 85px;
    right: -3rem;
    top: 6rem;
  }
   
  .home__apple2 {
    width: 80px;
    right: -1.5rem;
    bottom: 1.5rem;
  }
  .home__leaf:nth-child(1), 
  .home__leaf:nth-child(6) {
    width: 70px;
  }
  .home__leaf:nth-child(2), 
  .home__leaf:nth-child(4), 
  .home__leaf:nth-child(5) {
    width: 60px;
  }

  .home__leaf:nth-child(1) {
    top: -4.5rem;
    right: 1rem;
  }
  .home__leaf:nth-child(2) {
    top: .5rem;
    left: -.70rem;
  }
  .home__leaf:nth-child(3) {
    width: 60px;
    top: 4rem;
    right: -2rem;
  }
  .home__leaf:nth-child(4) {
    bottom: 1.5rem;
    left: 5rem;
  }
  .home__leaf:nth-child(5) {
    right: 2.5rem;
    bottom: -2.5rem;
    display: none;
  }
  .home__leaf:nth-child(6) {
    left: -2rem;
    display: none;

  }
  .services__container {
    grid-template-columns: repeat(1, 250px);
    justify-content: center;
    text-align: center;
  }
  .section__services {
    padding: 6.5rem  0 1rem;
    margin-top: 25px;
  }


  .services__button {
    color: var(--text-color);
    font-size: .9rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
    margin-left: 55%;
  }

  .request {
    margin-top: 150px;
    margin-bottom: 120px;
  }

  .blog__reaction-share {
    column-gap: .7rem;
  }


  
}


@media screen and (max-width: 575px) {
  .specialty_button_center {
    text-align: center;
      }
      .container__partners{
        padding-top: 150px;
    }
}
@media screen and (min-width: 576px) {

  .services__container {
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
  }



  .container__partners{
    padding-top: 80px;
}
  
  .services__modal-content {
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
    z-index: 15;
  }
  .services__modal-description {
    padding: 0 3.5rem;
  }
  .specialty__category {
    grid-template-columns: repeat(2, 200px);
    column-gap: 3rem;
  }
  .blog__content {
    grid-template-columns: 450px;
    justify-content: center;
  }
  .machine__content {
    grid-template-columns: 450px;
    justify-content: center;
  }

  .contact__container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.contact__form{
    width: 380px;
}
.container__partners{
  margin-top: 50px;
  margin-bottom: 150px;
}


}


/* For medium devices */
@media screen and (max-width: 767px) {
  .about__img{
    width: 330px;
    justify-self: center;
    margin-bottom: -150px;
  }
  
}



@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, 
  .nav__close, 
  .nav__img {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  

  .home__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding-top: 4rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .request__container{
    grid-template-columns: repeat(2, 1fr);
  }
 
  .reachout__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .reachout__images {
    order: 1;
  }
  .reachout__card {
    justify-content: initial;
  }

  .celebrate__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .celebrate__data, 
  .celebrate__title {
    text-align: initial;
  }
  .celebrate__description {
    padding: 0;
  }
  .section-celebrate {
    padding: 6.5rem 0 2rem;
  }
  .celebrate__img {
  width: 350px;
  margin-left: 400px;
  position: absolute;
  }

}



@media screen and (min-width: 992px) {
  
  .container__about{
    margin-left: auto;
    margin-right: auto;
  }

  .container-celebrate {
    margin-left: auto;
    margin-right: auto;
  }

  .section__about{
    padding: 8rem 0 1rem;
  }

  .request-section{
    padding: 8rem 0 1rem;
  }

  .about__img{
    width: 380px;
  }

  .section__services {
    padding: 6.5rem  0 1rem;
    margin-top: -100px;
  }
  .services__container {
    grid-template-columns: repeat(3, 272px);
    column-gap: 3rem;
  }
  .container__services {
    margin-left: auto;
    margin-right: auto;
  }
  .services__card {
    padding: 5rem 2rem 1.5rem;
    text-align: center;
  }
  .services__car2 {
    padding: 5rem 2rem 1.5rem;
    text-align: center;
  }
  .services__card3 {
    padding: 5rem 2rem 1.5rem;
    text-align: center;
  }
  .services__card4 {
    padding: 5rem 2rem 1.5rem;
    text-align: center;
  }

  .section__title {
    margin-bottom: 3.5rem;
  }
  .container__partners {
    margin-top: 150px;
  }
  .bd-grid-contact{
    margin-left: auto;
    margin-right: auto;
}
.questions__container{
  padding: 1rem 0 4rem;
}
.questions__title{
  text-align: initial;
  cursor: default;
}
.questions__group{
  row-gap: 2rem;
}
.questions__header{
  padding: 1rem;
}
.questions__description{
  padding: 0 3.5rem 2.25rem 2.75rem;
}

.q-section{
  padding: 8rem 0 1rem;
}

.q-container{
  margin-left: auto;
  margin-right: auto;
}
.request-container{
  margin-left: auto;
  margin-right: auto;
}

.section__title-center{
  font-size: 1.8rem;
}

.request__title{
  font-size: 2.2rem;
}

.request {
  margin-top: 20px;
  margin-bottom: 110px;
}

.celebrate__img {
  width: 440px;
  margin-left: 500px;
  position: absolute;
}
.celebrate__description {
  padding-right: 6rem;
}

}

/* For large devices */
@media screen and (min-width: 1224px) {
  .home__images {
    width: 530px;
    height: 590px;
    top: 1.3rem;
  }

  .about__container{
    column-gap: 7rem;
  }

  .services__container {
    grid-template-columns: repeat(4, 272px);
    column-gap: 3rem;
  }

  .home__liquid {
    width: 630px;
  }
  .home__juice {
    width: 270px;
    left: 3rem;
    top: 1rem;
  }
  .home__apple1 {
    width: 150px;
    top: 10rem;
  }
  .home__apple2 {
    width: 135px;
    right: -1.5rem;
    bottom: 5.5rem;
  }

  .home__leaf:nth-child(1), 
  .home__leaf:nth-child(6) {
    width: 70px;
  }
  .home__leaf:nth-child(2), 
  .home__leaf:nth-child(4), 
  .home__leaf:nth-child(5) {
    width: 60px;
  }

  .home__leaf:nth-child(1) {
    top: -1rem;
    right: 2rem;
  }
  .home__leaf:nth-child(2) {
    top: 2.5rem;
    left: 2.25rem;
  }
  .home__leaf:nth-child(3) {
    width: 60px;
    top: 12rem;
    right: -2rem;
  }
  .home__leaf:nth-child(4) {
    bottom: 8rem;
    left: 4.5rem;
  }
  .home__leaf:nth-child(5) {
    right: 10rem;
  }
  .home__leaf:nth-child(6) {
    bottom: 1rem;
    left: -8rem;
  }

  .home__shape-small {
    width: 400px;
    height: 400px;
    top: 0;
    left: -15rem;
  }
  
  .home__shape-big {
    width: 400px;
    height: 500px;
    top: 42rem;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .container__blog {
    margin-left: auto;
    margin-right: auto;
  }
  .specialty__box {
    display: grid;
    grid-template-columns: 2fr .5fr;
  }
  .specialty__group {
    text-align: initial;
  }
  .specialty__category {
    grid-template-columns: repeat(3, 250px);
    column-gap: 8rem;
  }
  .specialty__line {
    position: relative;
  }
  .specialty__line::before {
    content: '';
    width: 1px;
    height: 120px;
    background-color: var(--text-color-light);
    position: absolute;
    right: -5rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .specialty__img {
    width: 80px;
    margin-bottom: 1.5rem;
    z-index: 3;
  }

  .blog__container {
    padding-bottom: 5rem;
  }
  .blog__content {
    grid-template-columns: repeat(2, 450px);
    column-gap: 5rem;
    padding-top: 2rem;
  }
  .machine__content {
    grid-template-columns: repeat(3, 300px);
    column-gap: 5rem;
    padding-top: 2rem;
  }

  .reachout__container {
    align-items: flex-start;
    column-gap: 5rem;
  }
 
  .reachout__orbe {
    width: 501px;
    height: 641px;
    border-radius: 258px 258px 16px 16px;
  }
  
  .reachout__img {
    width: 461px;
    height: 601px;
    border-radius: 238px 238px 12px 12px;
  }
  
  .reachout__img img {
    max-width: initial;
    width: 490px;
  }
  
  .reachout__description {
    font-size: .938rem;
    margin-bottom: 2.5rem;
  }


  .reachout__card {
    grid-template-columns: repeat(2, 200px);
  }
  .reachout__card-box {
    padding: 28px 1.5rem 1.5rem;
  }

  .section__reachout {
    padding: 7.5rem  0 1rem;
  }

  .container__reachout {
    margin-left: auto;
    margin-right: auto;
  }

}
