/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #38afff;
  --first-color-alt: hsl(204, 94%, 52%);
  --title-color: hsl(233, 32%, 15%);
  --text-color: hsl(233, 4%, 35%);
  --body-color: #daeef6;

  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Open Sans', sans-serif;
  --second-font: 'Lemon', cursive;
  --biggest-font-size: 2.25rem;
  --normal-font-size: .938rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/* Page Loader */
#pageloader {
	background: #ede3f6 url(../img/3dgifmaker17586.gif) no-repeat center center;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 10000;
	background-size: 20%;
  }
  

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none

}

html {
  scroll-behavior: smooth;
}

/* Responsive typography */
@media screen and (min-width: 1224px) {
  :root {
    --biggest-font-size: 3.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
  position: relative;
}

#page-background {
  background: url(../img/shape-bg.webp);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.main {
  overflow: hidden; /* For the animations */
}

.section__blog {
  padding: 4.5rem 0 2rem;
}

.container__blog {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid__blog {
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.pa-fixed-header {
	background-color: hsl(196, 60%, 91%) !important;
	-webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
   
}


.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-family: 'Lemon', cursive;
  color: #38afff;
  cursor: default;
}

.nav__logo span {
  color: hsl(233, 32%, 15%);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .section__blog {
    padding: 7rem 0 2rem;
  }
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    left: 0;
    top: -100%;
    box-shadow: 0 8px 24px hsla(2, 100%, 35%, .2);
    width: 100%;
    padding: 3.5rem 0 3rem;
    border-radius: 0 0 2rem 2rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link, 
.nav__close {
  color: var(--title-color);
}

.nav__link {
  font-weight: 600;
  transition: color .4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__img {
  width: 120px;
  position: absolute;
  top: -.75rem;
  left: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}



/*=============== HOME ===============*/
.home-stats {
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.home__container-main-stats {
  margin-top: -2.5rem;
  position: relative;
}

.section-main-stats {
  padding: 4.5rem 0 1rem;
}

.home__img-main-stats {
  width: 320px;
  justify-self: center;
}
.home__img-main-machine {
  width: 320px;
  justify-self: center;
}
.free__img-main-stats {
  width: 370px;
  justify-self: center;
}

.home__data-main-stats {
  text-align: center;
}

.home__title-main-stats {
  font-size: 1.5rem;
  line-height: 140%;
  margin-bottom: 0.5rem;
  cursor: default;

}

.home__description-main-stats {
  font-size: .813rem;
  padding: 0 2rem;
  margin-bottom: 2.5rem;
  cursor: default;
}

.container-main-stats {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid-main-stats {
  display: grid;
}

.button-main-stats {
  display: inline-block;
  background-color: #38afff;
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: 500;
  border-radius: 3rem;
  transition: .3s;
  text-decoration: none;
}

.button-main-stats:hover {
  background-color: #3197db;
}

.home-title-span-stats {
  color: #3197db;
   font-size: 2rem;
}

/* For small devices */
@media screen and (max-width: 320px) {
  .container-main-stats {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}

@media screen and (max-width: 450px) {
  .home__img-main-stats {
    width: 250px;
    justify-self: center;
    margin-top: 70px;
  }
  .home__img-main-machine {
    width: 250px;
    justify-self: center;
    margin-top: 60px;
  }
  .free__img-main-stats {
    width: 350px;
    justify-self: center;
    margin-top: -40px;
  }
  .home-stats {
    margin-top: 4rem;
  }

}

@media screen and (min-width: 767px) {
  .home__container-main-stats{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__container-main-stats {
    padding-top: 6rem;
  }
  .home__data-main-stats {
    text-align: initial;
  }
  .home-title-span-stats {
    color: #3197db;
     font-size: 2.5rem;
  }
  .home__description-main-stats {
    padding: 0;
  }
}



/* For large devices */
@media screen and (min-width: 992px) {
  .container-main-stats {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img-main-stats {
    width: 450px;
    height: auto;
    margin-left: -1rem;
  }

  .home__img-main-machine {
    width: 450px;
    height: auto;
    margin-left: -1rem;
  }

  .free__img-main-stats {
    width:  450px;
    margin-left: 5rem;
  }


  .home__container-main-stats {
    padding-top: 5rem;
    column-gap: 1rem;
  }
  .home__data-main-stats {
    text-align: initial;
    margin-left: 100px;
  }
  .home__description-main-stats {
    padding: 0;
    font-size: .9rem;
    margin-bottom: 2.3rem;
  }
  .home__title-main-stats {
    font-size: 2.5rem;
    line-height: 140%;
    margin-bottom: 0.5rem;
  }
  .home-title-span-stats {
    color: #3197db;
     font-size: 4rem;
  }

}

@media screen and (min-width: 767px) {
 .section-main-stats {
    padding: 6.5rem 0 2rem;
  }
}

/*=============== HOME ===============*/
.home,
.home__container{
  position: relative;
}

.home__container {
  padding-top: 8rem;
  height: 100vh;
  display: grid;
  row-gap: 1rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  color: var(--title-color);
  margin-bottom: .75rem;
  cursor: default;

}

.home__title span {
  display: block;
  color: var(--first-color);
}

.home__description, 
.home__button {
  font-weight: 600;
}

.home__description {
  color: var(--title-color);
  margin-bottom: 1.5rem; 
   cursor: default;

}

.home__button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1.5rem .25rem;
  box-shadow: 0 5px 20px rgba(31, 5, 5, 0.28);
  transition: background .4s;
  position: relative;
}

.home__button:hover {
  background-color: var(--first-color-alt);
}

.home__images {
  position: relative;
  width: 325px;
  height: 378px;
  justify-self: center;
}

.home__images img {
  position: absolute;
}

.home__liquid {
  max-width: initial;
  width: 370px;
  left: -1.5rem;
  bottom: 4rem;
}

.home__juice {
  width: 150px;
  box-shadow: 0 8px 24px rgba(9, 9, 9, 0.596);
  transform: rotate(15deg);
  left: -0.5rem;
  right: 0;
  top: 1.2rem;
  margin: 0 auto;
  animation: float-juice 4s ease-in-out infinite;
}

.home__apple2 {
  width: 80px;
  right: 2rem;
  bottom: 4.5rem;
}

.home__apple1 {
  width: 90px;
  transform: rotate(-25deg);
  top: 7rem;
  left: -3rem;
}

.home__leaf:nth-child(1), 
.home__leaf:nth-child(6) {
  width: 80px;
  transform: rotate(30deg);
}

.home__leaf:nth-child(2), 
.home__leaf:nth-child(4), 
.home__leaf:nth-child(5) {
  width: 55px;
}

/* Move sheets into position */
.home__leaf:nth-child(1) {
  top: -5rem;
  right: 3rem;
}

.home__leaf:nth-child(2) {
  transform: rotate(-60deg);
  top: -1rem;
  left: .25rem;
}

.home__leaf:nth-child(3) {
  width: 60px;
  transform: rotate(-15deg);
  top: 8rem;
  right: .8em;
}

.home__leaf:nth-child(4) {
  bottom: 4.5rem;
  left: 3.5rem;
}

.home__leaf:nth-child(5) {
  transform: rotate(-30deg);
  bottom: 0;
  right: 5rem;
}

.home__leaf:nth-child(6) {
  bottom: -1rem;
  left: -3rem;
}

.home__shape-small, 
.home__shape-big {
  background-color: hsl(283, 62%, 91%);
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
}

.home__shape-small {
  width: 200px;
  height: 200px;
  top: -5rem;
  left: -5rem;
}

.home__shape-big {
  width: 250px;
  height: 250px;
  top: 35rem;
  right: 0;
}






/*=============== ABOUT ===============*/

.section__about{
  padding: 5.5rem 0 1rem;
}

.container__about{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid__about{
  display: grid;
}

.about__container{
  row-gap: 2rem;
  
}

.about__img{
  width: 280px;
  justify-self: center;
  
  
}

.about__title{
  margin-bottom: 1rem;
}

.about__data {
  z-index: 2;
}

.about__description{
  margin-bottom: 2rem;
}

.about__details{
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2.5rem;
}

.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: .813rem;
}

.about__details-icon{
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link{
  color: var(--first-color-alt);
  font-weight: var(--font-medium);
  
}

.button--link:hover .button__icon{
  transform: translateX(.25rem);
}


/*=============== Why We Do It  ===============*/
.specialty {
  margin-top: 100px;
}




.specialty__button {
  position: relative;
  font-weight: 600;
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 5 25px hsla(2, 100%, 45%, .28);
  transition: background .4s;
  margin-top: 25px;
}
.specialty__button:hover {
  background-color: var(--first-color-alt);
}

.specialty__category {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  row-gap: 2.5rem;
}

.specialty__img {
  width: 60px;
  margin-bottom: 1rem;
  transition: .4s;
}

.specialty__group {
  text-align: center;
  position: relative; 
}

.specialty__title {
  font-size: 18px;
  margin-bottom: .25rem;
  font-weight: 900;
  margin-bottom: 15px;
}

.specialty__group:hover .specialty__img {
  transform: translateY(-.55rem);
}


/*=============== Why We Do It End  ===============*/


/*=============== Partners ===============*/

.container__partners{
  padding-top: 0px;
}



.slide {
  border: 1px solid rgb(252, 248, 252);
  background-color: rgb(252, 248, 252);
  border-radius: 15%;

}

.imgsize {
width: 100px;
}

.slick-slide{
    margin: 0 20px;
    
}
.slick-slide img{
    width: 100%;
    
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;

}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}


/*=============== Filter ===============*/

.filter-buttons{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.filter-buttons ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

.filter-buttons ul li{
  color:black;
  font-weight: 500;
  display: inline-block;
  margin: 0px 8px;
  cursor: pointer;
  padding-bottom: 0px;
}

.filter-buttons ul li.active2{
  color: rgb(38, 38, 59);
  border: 2px solid var(--first-color);
  border-radius: 25px;
  padding: 2px 15px 2px 15px;

}


/*=============== Filter End ===============*/





/*=============== BLOG ===============*/
.blog__container {
  padding-bottom: 2rem;
}

.blog__content {
  row-gap: 3rem;
}


.blog__card{
  border: .11px solid whitesmoke ;
  background-color: whitesmoke;
  border-radius: .5rem;
  padding: 20px;
  position: relative;
  box-shadow: 0px 4px 16px rgba(43, 31, 31, 0.228);

}

.blog__image {
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.5s all ease-in-out;
}

.blog__img {
  border-radius: .5rem;
  box-shadow: 0 4px 16px hsl(355deg 25% 15% / 10%);
  display: block;
  border: .1px solid white;
}
.blog__image:hover{
  transform: scale(1.05);
}
.blog__image {
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.5s all ease-in-out;
}

.blog__img {
  border-radius: .5rem;
  box-shadow: 0 4px 16px hsl(355deg 25% 15% / 10%);
  display: block;
  border: .1px solid white;
}
.blog__image:hover{
  transform: scale(1.05);
}


.blog__button {
  display: inline-flex;
  background-color: white;
  padding: 1.15rem;
  border-radius: .5rem 0 .5rem 0;
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  right: 0;
  bottom: 0;
  
}

.blog__button i {
  transform: rotate(-30deg);
  transition: .4s;
}

.blog__button:hover i {
  transform: rotate(-30deg) translateX(.25rem);
}

.blog__title {
  font-size: var(--h2-font-size);
  font-weight: 900;
  margin-bottom: .75rem;
  cursor: default;
}

.blog__description {
  margin-bottom: 1.5rem;
  cursor: default;
}

.blog__footer, 
.blog__reaction {
  display: flex;
  align-items: center;
}

.blog__footer {
  column-gap: 1.5rem;
}

.blog__reaction {
  column-gap: .25rem;
}

.blog__reaction i {
  font-size: 1.25rem;
}

.blog__reaction span {
  font-size: var(--small-font-size);
  cursor: pointer;
}

.bx {
  cursor: pointer;
}



/*=============== Our Machines ===============*/
.machine__container {
  margin-top: 0px;
  border: .11px solid rgb(195, 239, 233) ;
  background-color: rgba(244, 247, 247, 0.891);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 4px 16px rgba(43, 31, 31, 0.228);
}



.machine__content {
  row-gap: 3rem;
}

.machine__card{
  border: .11px solid whitesmoke ;
  background-color: whitesmoke;
  border-radius: .5rem;
  padding: 20px;
  position: relative;
  box-shadow: 0px 4px 16px rgba(43, 31, 31, 0.228);

}

.machine__image {
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.5s all ease-in-out;
}

.machine__img {
  border-radius: .5rem;
  display: block;
}
.machine__image:hover{
  transform: scale(1.05);
}


.machine__button {
  display: inline-block;
  background-color: #38afff;
  color: whitesmoke;
  padding: 1rem 1rem;
  font-weight: 500;
  border-radius: 10px;
  transition: .3s;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  margin-left: -10px;
}

.machine__button:hover {
  background-color: #3197db;
}

.machine__button i {
  transition: .4s;
}

.machine__button:hover i {
  transform: translateY(-.15rem) translateX(.15rem);

}

.machine__title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: .75rem;
  cursor: default;
}

.machine__data {
  text-align: center;
  margin-top: 20px;
}

.machine__description {
  margin-bottom: 1.5rem;
  cursor: default;
}

.machine__footer, 
.machine__reaction {
  display: flex;
  align-items: center;
}

.machine__footer {
  column-gap: 1.5rem;
  justify-content: center;
}

.machine__reaction {
  column-gap: .25rem;
}

.machine__reaction i {
  font-size: 1.25rem;
}

.machine__reaction span {
  font-size: var(--small-font-size);
  cursor: pointer;
}

.bx {
  cursor: pointer;
}



/*=============== SERVICES ===============*/
.section__services {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: 1.55rem;
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: .813rem;
  color: black;
}

.container__services {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid__services {
  display: grid;
  gap: 1.25rem;
}


.services__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.services__card {
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #bdbcbfba, #4769b878), url(../img/blueflower-removebg-preview.webp) no-repeat top center;
}
.services__card2 {
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #bdbcbfba, #c4bc4893), url(../img/yellowflower-removebg-preview.webp) no-repeat top center;
}
.services__card3 {
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #bdbcbfba, #b38dd194), url(../img/pinkflower-removebg-preview.webp) no-repeat top center;
}
.services__card4 {
  padding: 5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #bdbcbfba, #de6d3498), url(../img/salmonflower-removebg-preview.webp) no-repeat top center;
}

.section__services .services__container .services__card,
.section__services .services__container .services__card2,
.section__services .services__container .services__card3,
.section__services .services__container .services__card4{
z-index: 1;  
box-shadow: 0px 4px 16px rgba(43, 31, 31, 0.228);
border: .5px solid #9cd1f5;

}


.services__title {
  font-size: 1.35rem;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  text-align: center;
}

.services__button {
  color: var(--text-color);
  font-size: .9rem;
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
  margin-left: 55%;
}

.services__button:hover .services__icon {
  transform: translateX(.25rem);
}

.services__icon {
  font-size: 1rem;
  transition: .4s;
}

.services__modal {
  position: fixed;
  inset: 0;
  background-color: hsla(var(--second-hue), 28%, 16%, 0.7);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  z-index: 15;
}

.services__modal-content {
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
  z-index: 15;
}

.services__modal-title, 
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: 1rem;
  color: var(--first-color);
  margin-bottom: 1rem;
}

.services__modal-description {
  font-size: .813rem;
  margin-bottom: 2rem;
}

.services__modal-list {
  display: grid;
  row-gap: .75rem;
}

.services__modal-item {
  display: flex;
  align-items: flex-start;
  column-gap: .5rem;
}

.services__modal-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: default;
}
.services__modal-icon-x {
  font-size: 1.5rem;
  color: red;
  cursor: default;
}

.services__modal-info {
  font-size:  .913rem;
}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.modal__Z-index{
  z-index:1000 !important;
}

/*Active modal*/
.active-modal {
  opacity: 1;
  visibility: visible;
  
  
}






/*=============== FOOTER ===============*/
.footer {
	overflow: hidden;
  }
  
  .footer__container {
	position: relative;
	row-gap: 2rem;
  }

  .nav__logo {
    font-family: var(--second-font);
    color: var(--first-color);
  }
  
  .footer__logo span {
    color: var(--title-color);
  }
  
  .footer__logo {
	display: flex;
	align-items: center;
	column-gap: .25rem;
  font-family: var(--second-font);
  color: var(--first-color);
  font-weight: 500;
  cursor: default;
  }
  
  .footer__logo-img {
	width: 3rem;
  }
  
  .footer__description {
	font-size: .75rem;
  }
  
 
  .footer__title {
	margin-bottom: 1rem;
  font-weight: 900;
  }

  .footer__title:hover {
    cursor: default;
  }

  .footer__logo {
	margin-left: -25px;
  }
  
  .footer__title {
	font-size: 1.25rem;
  }
  
  .footer__links, 
  .footer__aviables {
	display: flex;
	flex-direction: column;
	row-gap: .75rem;
  }
  
  .footer__link {
	color: hsl(355, 4%, 35%);
	transition: .3s;
  }
  
  .footer__link:hover {
	color: hsl(355, 4%, 15%);
  }
  
  .footer__aviable-img {
	width: 100px;
	cursor: pointer;
  }
  
  .footer__copy {
	display: block;
	margin: 3.5rem 0 1rem 0;
	text-align: center;
	font-size: .75rem;
	color: hsl(355, 4%, 55%);
  }
  
 
  
  .footer__img1 {
	top: 35%;
	right: -.1rem;
	position: absolute;
	width: 150px;
  transform: scaleX(-1);
  }
  
  .footer__img2 {
	top: 60%;
	right: .5rem;
	position: absolute;
	width: 220px;
  }



  /* For medium devices */
@media screen and (min-width: 576px) {
	.footer__container {
	  grid-template-columns: repeat(2, 1fr);
	}
  }


  @media screen and (min-width: 767px) {
	.footer__container {
	  grid-template-columns: repeat(3, 1fr);
	}
  }



/* For large devices */
@media screen and (min-width: 992px) {

	.footer__container {
	  grid-template-columns: repeat(4, max-content);
	  justify-content: space-between;
	}
	.footer__copy {
	  margin-top: 7rem;
	}
	
	.footer__img1 {
	  top: 50%;
	  left: -20px;
	  width: 140px;
    transform: scaleX(-1);
    

	}
	.footer__img2 {
	  top: 70%;
	  right: -1rem;
	  width: 200px;

	}
	
  }

  @media screen and (max-width: 400px) {
	.footer__img1 {
		top: 30%;
		right: -.8rem;
		position: absolute;
		width: 170px;
	  }
	  
	  .footer__img2 {
		top: 50%;
		right: -1.3rem;
		position: absolute;
		width: 200px;
	  }
  }
  
  .section-main {
    padding: 4.5rem 0 1rem;
  }

  .container-main {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .grid-main {
    display: grid;
  }

  
  footer a {
	text-decoration: none;
  }
  footer ul {
	list-style: none;
  }

  @media screen and (min-width: 767px) {
	.section-main {
	   padding: 6.5rem 0 2rem;
	 }
   }
   @media screen and (max-width: 320px) {
    .container-main {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
  }

   /* For large devices */
@media screen and (min-width: 992px) {
    .container-main {
      margin-left: auto;
      margin-right: auto;
    }
}

.social-icons {
	display: flex;
	margin-top: 0.5rem;
  }
  
  .social-icons a {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background: linear-gradient(45deg, #38486d, #38486d);
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin-right: 0.5rem;
	transition: 0.3s;
  }
  
  .social-icons a:hover {
	transform: scale(1.15);
  }



  @media (max-width: 480px) {
	.social-icons a {
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	}
  
  }
  /*== Footer End ==*/





/* Animation juice */
@keyframes float-juice {
  0% {
    transform: translateY(0) rotate(15deg);
  }
  50% {
    transform: translateY(-2rem) rotate(15deg);
  }
  100% {
    transform: translateY(0) rotate(15deg);
  }
}


/*=============== BREAKPOINTS ===============*/




@media screen and (max-width: 991px) {
  .services__button {
    color: var(--text-color);
    font-size: .9rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
    margin-left: 35%;
  }
}


/* For small devices */
@media screen and (max-width: 375px) {
  .container__about{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .container__blog {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home__container {
    padding-top: 5rem;
    height: 100vh;
    display: grid;
    row-gap: 1rem;
  }

  .home__images {
    width: 245px;
    height: 320px;
  }
  .home__liquid {
    width: 250px;
    left: 0rem;
    bottom: 5rem;
  }
  .home__juice {
    width: 90px;
    top: 2.5rem;
    left: 1rem;
  }
  .home__apple1 {
    width: 85px;
    right: -2rem;
    top: 5rem;
  }
   
  .home__apple2 {
    width: 80px;
    right: -1.5rem;
    bottom: 4rem;
  }
  .home__leaf:nth-child(1), 
  .home__leaf:nth-child(6) {
    width: 70px;
  }
  .home__leaf:nth-child(2), 
  .home__leaf:nth-child(4), 
  .home__leaf:nth-child(5) {
    width: 60px;
  }

  .home__leaf:nth-child(1) {
    top: -2rem;
    right: 1rem;
  }
  .home__leaf:nth-child(2) {
    top: .5rem;
    left: -.70rem;
  }
  .home__leaf:nth-child(3) {
    width: 60px;
    top: 4rem;
    right: -2rem;
  }
  .home__leaf:nth-child(4) {
    bottom: 5rem;
    left: 3.5rem;
  }
  .home__leaf:nth-child(5) {
    right: 10rem;
  }
  .home__leaf:nth-child(6) {
    right: 10rem;

  }
  .section__title {
    font-size: 1.35rem;
  }
  .services__container {
    grid-template-columns: repeat(1, 250px);
    justify-content: center;
    text-align: center;
  }

 
}



@media screen and (max-width: 445px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .machine__container {
    margin-top: 50px;
  }

  .blog__card {
    margin-top: 10px;
  }

  .specialty {
    margin-top: 40px;
  }

  

  .section__title {
    font-size: 1.35rem;
  }

  .services__modal-info {
    font-size: .7rem;
  }

  .home__container {
    padding-top: 4rem;
    height: 100vh;
    display: grid;
    row-gap: 1rem;
  }

  .home__images {
    width: 265px;
    height: 320px;
  }
  .home__liquid {
    width: 330px;
    left: -2.3rem;
    bottom: 3rem;
  }
  .home__juice {
    width: 140px;
    top: 1rem;
    left: .5rem;
  }
  .home__apple1 {
    width: 85px;
    right: -3rem;
    top: 6rem;
  }
   
  .home__apple2 {
    width: 80px;
    right: -1.5rem;
    bottom: 1.5rem;
  }
  .home__leaf:nth-child(1), 
  .home__leaf:nth-child(6) {
    width: 70px;
  }
  .home__leaf:nth-child(2), 
  .home__leaf:nth-child(4), 
  .home__leaf:nth-child(5) {
    width: 60px;
  }

  .home__leaf:nth-child(1) {
    top: -4.5rem;
    right: 1rem;
  }
  .home__leaf:nth-child(2) {
    top: .5rem;
    left: -.70rem;
  }
  .home__leaf:nth-child(3) {
    width: 60px;
    top: 4rem;
    right: -2rem;
  }
  .home__leaf:nth-child(4) {
    bottom: 1.5rem;
    left: 5rem;
  }
  .home__leaf:nth-child(5) {
    right: 2.5rem;
    bottom: -2.5rem;
    display: none;
  }
  .home__leaf:nth-child(6) {
    left: -2rem;
    display: none;

  }
  .services__container {
    grid-template-columns: repeat(1, 250px);
    justify-content: center;
    text-align: center;
  }
  .section__services {
    padding: 6.5rem  0 1rem;
    margin-top: 25px;
  }


  .services__button {
    color: var(--text-color);
    font-size: .9rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
    margin-left: 55%;
  }

  
}


@media screen and (max-width: 575px) {
  .specialty_button_center {
    text-align: center;
      }
      .container__partners{
        padding-top: 150px;
    }
}
@media screen and (min-width: 576px) {

  .services__container {
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
  }

  .container__partners{
    padding-top: 80px;
}
  
  .services__modal-content {
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
    z-index: 15;
  }
  .services__modal-description {
    padding: 0 3.5rem;
  }
  .specialty__category {
    grid-template-columns: repeat(2, 200px);
    column-gap: 3rem;
  }
  .blog__content {
    grid-template-columns: 450px;
    justify-content: center;
  }
  .machine__content {
    grid-template-columns: 450px;
    justify-content: center;
  }

}


/* For medium devices */
@media screen and (max-width: 767px) {
  .about__img{
    width: 330px;
    justify-self: center;
    margin-bottom: -150px;
  }
}



@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, 
  .nav__close, 
  .nav__img {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  

  .home__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding-top: 4rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
 

}



@media screen and (min-width: 992px) {
  
  .container__about{
    margin-left: auto;
    margin-right: auto;
  }

  .section__about{
    padding: 8rem 0 1rem;
  }

  .about__img{
    width: 380px;
  }

  .section__services {
    padding: 6.5rem  0 1rem;
    margin-top: -100px;
  }
  .services__container {
    grid-template-columns: repeat(3, 272px);
    column-gap: 3rem;
  }
  .container__services {
    margin-left: auto;
    margin-right: auto;
  }
  .services__card {
    padding: 5rem 2rem 1.5rem;
    text-align: center;
  }
  .services__car2 {
    padding: 5rem 2rem 1.5rem;
    text-align: center;
  }
  .services__card3 {
    padding: 5rem 2rem 1.5rem;
    text-align: center;
  }
  .services__card4 {
    padding: 5rem 2rem 1.5rem;
    text-align: center;
  }

  .section__title {
    margin-bottom: 3.5rem;
  }
  .container__partners {
    margin-top: 150px;
  }

}

/* For large devices */
@media screen and (min-width: 1224px) {
  .home__images {
    width: 530px;
    height: 590px;
    top: 1.3rem;
  }

  .about__container{
    column-gap: 7rem;
  }

  .services__container {
    grid-template-columns: repeat(4, 272px);
    column-gap: 3rem;
  }

  .home__liquid {
    width: 630px;
  }
  .home__juice {
    width: 270px;
    left: 3rem;
    top: 1rem;
  }
  .home__apple1 {
    width: 150px;
    top: 10rem;
  }
  .home__apple2 {
    width: 135px;
    right: -1.5rem;
    bottom: 5.5rem;
  }

  .home__leaf:nth-child(1), 
  .home__leaf:nth-child(6) {
    width: 70px;
  }
  .home__leaf:nth-child(2), 
  .home__leaf:nth-child(4), 
  .home__leaf:nth-child(5) {
    width: 60px;
  }

  .home__leaf:nth-child(1) {
    top: -1rem;
    right: 2rem;
  }
  .home__leaf:nth-child(2) {
    top: 2.5rem;
    left: 2.25rem;
  }
  .home__leaf:nth-child(3) {
    width: 60px;
    top: 12rem;
    right: -2rem;
  }
  .home__leaf:nth-child(4) {
    bottom: 8rem;
    left: 4.5rem;
  }
  .home__leaf:nth-child(5) {
    right: 10rem;
  }
  .home__leaf:nth-child(6) {
    bottom: 1rem;
    left: -8rem;
  }

  .home__shape-small {
    width: 400px;
    height: 400px;
    top: 0;
    left: -15rem;
  }
  
  .home__shape-big {
    width: 400px;
    height: 500px;
    top: 42rem;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .container__blog {
    margin-left: auto;
    margin-right: auto;
  }
  .specialty__box {
    display: grid;
    grid-template-columns: 2fr .5fr;
  }
  .specialty__group {
    text-align: initial;
  }
  .specialty__category {
    grid-template-columns: repeat(3, 250px);
    column-gap: 8rem;
  }
  .specialty__line {
    position: relative;
  }
  .specialty__line::before {
    content: '';
    width: 1px;
    height: 120px;
    background-color: var(--text-color-light);
    position: absolute;
    right: -5rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .specialty__img {
    width: 80px;
    margin-bottom: 1.5rem;
    z-index: 3;
  }

  .blog__container {
    padding-bottom: 5rem;
  }
  .blog__content {
    grid-template-columns: repeat(2, 450px);
    column-gap: 5rem;
    padding-top: 2rem;
  }
  .machine__content {
    grid-template-columns: repeat(3, 300px);
    column-gap: 5rem;
    padding-top: 2rem;
  }

}